{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block page_title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'common/css/l_sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/fontawesome/all.css' %}">


    <!--ここで動的にCSSを追加する。-->    
<style>
input[type="checkbox"]#category_a:checked ~ #category_area_a{ display:block; }
input[type="checkbox"]#category_b:checked ~ #category_area_b{ display:block; }


</style>

    <script src="{% static 'common/js/script.js' %}"></script>

    {% block extra_head %}
    {% endblock %}

</head>
<body>
    <header>

        <input id="l_sidebar" class="l_sidebar_button" type="checkbox">

        <div class="left_header">
            <label class="l_sidebar_label" for="l_sidebar">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </label>
            <a class="header_link" href="{% block header_link %}{% endblock %}"><h1>{% block header_title %}{% endblock %}</h1></a>
            <div class="header_right_content">
            {% block header_right_content %}
            {% endblock %}
            </div>
        </div>

        <div class="l_sidebar_menu">


            <input id="category_a" class="category_input" type="checkbox" style="display:none;">
            <div class="sidebar_category_parent">

                <label class="sidebar_category_parent_inner" for="category_a" style="display:block">カテゴリA</label>
            </div>
            <div id="category_area_a" class="sidebar_category_area">
                <label class="sidebar_category" for="category_a" style="display:block;">戻る</label>

                <div class="sidebar_category">カテゴリA1</div>
                <div class="sidebar_category">カテゴリA2</div>
                <div class="sidebar_category">カテゴリA3</div>
            </div>

            <input id="category_b" class="category_input" type="checkbox" style="display:none;">
            <div class="sidebar_category_parent">

                <label class="sidebar_category_parent_inner" for="category_b" style="display:block">カテゴリB</label>
            </div>
            <div id="category_area_b" class="sidebar_category_area">
                <label class="sidebar_category" for="category_b" style="display:block;">戻る</label>

                <div class="sidebar_category">カテゴリB1</div>
                <div class="sidebar_category">カテゴリB2</div>
                <div class="sidebar_category">カテゴリB3</div>
            </div>

            

        </div>

        <label class="l_sidebar_closer" for="l_sidebar"></label>

    </header>

    <main>
    {% block main %}
    {% endblock %}
    </main>

</body>
</html>

